.modal {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 20px;
  bottom: 50px;
  right: 20px;

  transform: translateY(0);
  transition: transform 1s ease;
  transform: translateY(calc(-100% - 50px));
}
/* .hidden {
  transform: translateY(calc(-100% - 50px));
} */